<ng-container *ngIf="!isLogged; else logueado">
    <button (click)="isLogged = true">Iniciar sesión</button>
    <button>Registrarse</button>
</ng-container>

<ng-template #logueado>
    <button>Insumos</button>
    <button>Áreas</button>
    <button (click)="isLogged = false">Cerrar sesión</button>
    <button (click)="nivel = nivel + 1">Subir nivel</button>
    <div>{{nivel}}</div>    
</ng-template>

<button *ngIf="nivel >= 10">Eres VIP</button>

