<button [disabled]="estatus">Guardar</button>
<button (click)="estatus=!estatus">Cambiar estatus</button>
<div>{{estatus}}</div>

<input type="text" [(ngModel)]="nombre">
<h1>{{nombre}}</h1>

<h1>has seleccionado un carro {{carro}}</h1>

<select [(ngModel)]="carro">
    <option value="" selected>Seleccion un carro</option>
    <option value="hunday">Hundai</option>
    <option value="honda">Honda</option>
    <option value="sentra">Sentra</option>
</select>